@font-face {
    font-family: DZCloudSans;
    src: url(/cloud_gaming/font/ProductSans-Bold.ttf);
}

body {
    background-color: #2f4f4f;
    font-family: 'DZCloudSans', sans-serif;
    margin: 0
}

.canclecolor {
    background-color: #dc3545;
    color: white;
}

.header {
    background-color: #353535;
    font-family: 'DZCloudSans', sans-serif;
    height: 60px;
    overflow: hidden;
}

.block {
    background-color: #2f2f2f;
    padding: 5px;
    min-width: 223px;
    margin-right: 1650px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5pt;
    border: none;
    width: fit-content;
}

.credittext {
    margin-left: 5px;
    min-width: 220px;

}

.paypic {
    width: 25px;
    margin-bottom: -5px;
}

.paypic1 {
    width: 35px;
    margin-left: -30px;
}

.paypic2 {
    width: 35px;
    margin-bottom: -11px;
}

.paypic3 {
    width: 25px;
    margin-top: -14px;
}

.paypic4 {
    width: 60px;
}

.logo {
    float: left;
}

.playpass {
    float: left;
    margin: 15px 0 0 20px;
}

.playpassbtn {
    color: white;
    text-decoration: none;
    font-size: x-large;
    float: left;
}

.login {
    float: right;
    margin: 20px 10px 0 0;
}

.container {
    margin: 20px;
}


h1,
h2,
h3,
h4,
h5,
h6,
select,
span,
label {
    color: white;
    font-family: 'DZCloudSans';
}

input {
    background-color: #107c10;
    border: none;
    border-radius: 5pt;
    cursor: pointer;
    color: white;
    font-family: 'DZCloudSans', sans-serif;
}


img {
    cursor: pointer;
}

select {
    width: 100%;
    margin-top: 30px;
    background-color: rgba(47, 79, 79, 0.832);
    border-radius: 5pt;
    font-size: x-large;
    font-family: 'DZCloudSans', sans-serif;
}

.buybtn {
    width: 30%;
    font-size: x-large;
    margin-top: 1%;
    margin-left: 35%;
    background-color: #107c10;
    color: white;
    font-family: 'DZCloudSans', sans-serif;
    border-radius: 5pt;
    border: none;
    cursor: pointer;
    min-width: 290px;


}


.middle {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5pt;
    min-width: 300px;
}



.divbtnplaystyle {
    background-color: #107c10;
    font-size: xx-large;
    width: 100%;
}

.divbtnplaystyle1 {
    background-color: #2f2f2f;
    color: white;
    border-radius: 5pt;
    font-size: xx-large;
    width: 100%;
    margin-top: 3%;
}

.positionplay {
    float: right;
    margin-right: 0px;
    margin-top: 18px;
}


.infos {
    margin-top: 20px;
    float: left;
}

.pubilsher {
    margin-top: -20px;
    font-size: 20pt;
}

.backbtn {
    border-radius: 10%;
    font-size: x-large;
    color: white;
    background-color: #2f2f2f;
    float: left;
    margin-top: 1%;
}

.dzplaypasstext {
    float: right;
    margin-right: 120px;
    color: white;
}


.imgheader {
    float: left;

}

.abackbtn {
    border-radius: 10%;
    font-size: x-large;
    color: white;
    background-color: #2f2f2f;
    padding: 0 15px;
}


.weiten {
    width: 370px;
}

.altersfreigabe {
    width: 45pt;
}

.spielpic {
    width: 263pt;
}



.signincanclebtn {
    float: right;
    border-radius: 5px;
    margin: 15px 15px 0 0;
    background-color: #dc3545;
    color: white;
    font-size: 15pt;
    border: none;
    cursor: pointer;
    font-family: 'DZCloudSans', sans-serif;
}

.games {
    margin-top: 1%;
    margin-left: 1%;
    width: 180px;
}



.mcselection {
    display: block;
}

.disabled {
    background-color: #686868;
    cursor: not-allowed;
}

.vepp {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: x-large;
    margin-top: 1%;
    font-family: 'DZCloudSans', sans-serif;
    cursor: text;
}

.vepp1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: x-large;
    margin-top: 1%;
    font-family: 'DZCloudSans', sans-serif;
    cursor: pointer;
}

.pricesub {
    margin-left: 35%;
    margin-top: 25%;
}

.subbtn {
    background-color: #008746;
    font-size: x-large;
    margin-left: 85px;
    padding: 0 8px;
}



.subinfo1 {
    margin-top: 15%;
    margin-left: 9%;
}

.subinfo {
    margin-left: 9%;
}

.subheader {
    margin-left: 9%;
    margin-top: 0%;
}

.substyle {
    background-color: rgb(40, 42, 44);
    padding: 2%;
    margin: 10px 20px;
    max-width: 300px;
    min-width: 200px;
    float: left;
}

.refreshwallet {
    width: 35px;
    cursor: pointer;
    margin-top: -4px;
    float: right;
}

.middletext {
    margin-left: 37.0px;
}

.middleh3 {
    font-size: x-large;
}

a {
    font-variant: normal;
    text-decoration: none;
}

.kategorie {
    width: 250px;
    margin-left: 1%;
}

.abstand {
    margin-left: 20px;
    margin-top: 50px;
}

.abstand1 {
    margin-left: 20px;
    margin-top: 30px;
}

.black {
    color: black;
}

.shadow {
    box-shadow: 0 5px 5px darkslategray;
}

.deffont {
    font-family: 'DZCloudSans', sans-serif;
}

.background1 {
    background-color: #3d3d3db4;
}



.rounded {
    border-radius: 5px;
    padding: 0 5px;
}

.textinput1 {
    font-size: x-large;
    width: 400px;
    min-width: 100px;
    background-color: #2f2f2f;
}

.loginbtn,
button[title="Sign In"] {
    padding: 3px 23px;
    background: #1a73e8;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 12pt;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'DZCLOUDSans';
    float: right;
}

.loginbtn1{
    padding: 3px 23px;
    background: #1a73e8;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 16pt;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'DZCLOUDSans';
    float: left;
}

.buttonredeem {
    font-size: x-large;
    background-color: #008746;
    min-width: 150px;
}

.selectredeem {
    width: 150px;
    float: left;
    margin: auto;
}

.paymentinput {
    background-color: #2f2f2f;
    padding: 10px;
    width: 280px;
    color: white;
    font-size: larger;
    min-width: 70px;
    cursor: text;
}

label {
    color: white;
    font-size: larger;
}

.button {
    background-color: #107c10;
    border: none;
    font-size: x-large;
    padding: 12px;
    width: 300px;
    margin-top: 10px;
    border-radius: 5pt;
    cursor: pointer;
    color: white;
    font-family: 'DZCloudSans', sans-serif;
}

.button:hover {
    background-color: #008746;
}

.sale {
    color: #c50316;
}

footer {
    margin-top: 20px;
    background-color: #353535;
    height: 250px;
}

.right {
    float: right;
}

.left {
    float: left;
    margin-left: 25px;
}

.smaller {
    width: 350px;
}

.foo {
    margin-bottom: -13px;
}

.gamefoo {
    margin-top: 830px;
}