@font-face {
    font-family: DZCloudSans;
    src: url(/app_store/font/ProductSans-Bold.ttf);
}

body {
    background-color: #373737;
    font-family: 'DZCloudSans', sans-serif;
    margin: 0;
}

.header {
    background-color: #000000;
    font-family: 'DZCloudSans', sans-serif;
    height: 60px;
    overflow: hidden;
}

.logo {
    float: left;
}

.dzplaypasstext {
    float: left;
    margin-left: 30px;
}


.imgheader {
    float: left;

}

.games {
    margin-top: 5%;
    margin-left: 25%;
    width: 48px;
    border-radius: 8pt;
}
.movies {
    margin-top: 5%;
    margin-left: 20%;
    width: 60px;
    border-radius: 8pt;
}

.moreimg {
    margin-top: 50%;
    margin-left: 35%;
    width: 24px;
    border-radius: 8pt;
}

a {
    font-variant: normal;
    text-decoration: none;
}

.top{
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    background-color: #222222;
    height: 250px;
}

.right {
    float: right;
}

.left {
    float: left;
    margin-left: 25px;
}

.smaller {
    width: 350px;
}

.hometxt{
    color: white;
}
.hometxt:hover{
    color: rgb(255, 0, 128);
}

.gametxt{
    color: white;
}
.gametxt:hover{
    color: #007b00;
}

.appstxt{
    color: white;
}
.appstxt:hover{
    color: #8486ff;
}

.mosetxt{
    color: white;
}
.mosetxt:hover{
    color: #ff3a3a;
}

.booktxt{
    color: white;
}
.booktxt:hover{
    color: #00ba69;
}
.inpltxt{
    color: white;
}
.inpltxt:hover{
    color: #4d19e9;
}

@keyframes special {
	from, to { box-shadow: 0 0 15px 0 red }
	16% { box-shadow: 0 0 10px 3px  yellow }
	25% { box-shadow: 0 0 10px 3px  #008746 }
	32% { box-shadow: 0 0 10px 3px  green }
	48% { box-shadow: 0 0 10px 3px  aqua }
	56% { box-shadow: 0 0 10px 3px  #e81a1a }
	64% { box-shadow: 0 0 10px 3px  blue }
	80% { box-shadow: 0 0 10px 3px  #1a73e8 }
	86% { box-shadow: 0 0 10px 3px  fuchsia }
}
.cardtxt{
    border-radius: 8pt;
    color: white;
    min-width: fit-content;
}

.cardtxt:hover{
	border-radius: 8pt;
    min-width: fit-content;
    color:  #ffd700;
    animation: special 3s infinite;
    
}

.katetxt{
    color: white;
    margin-left: 1%;
    margin-top: 30px;
}
.katetxtX{
    color: white;
    margin-left: 1%;
    margin-top: 10%;
}
.katetxtB{
    color: white;
    margin-left: 1%;
    margin-top: 12%;
}

.leftf{
    float: left;
}

.rightf{
    float: right;
}
.leftxl{
    margin-left: 18px;
}

.gamenamexxxxxs{
    color: white;
    width: 100%;
    margin-left: 40%;
}
.gamenamexxxxs{
    color: white;
    width: 100%;
    margin-left: 35%;
}
.gamenamexxxs{
    color: white;
    width: 100%;
    margin-left: 30%;
}
.gamenamexhxs{
    color: white;
    width: 100%;
    margin-left: 27%;
}
.gamenamexxs{
    color: white;
    width: 100%;
    margin-left: 25%;
}

.gamenamexs{
    color: white;
    width: 100%;
    margin-left: 20%;
}
.gamenames{
    color: white;
    width: 100%;
    margin-left: 15%;
}
.gamenamehsm{
    color: white;
    width: 100%;
    margin-left: 18%;
}
.gamenamehhsm{
    color: white;
    width: 100%;
    margin-left: 16%;
}
.gamenamesm{
    color: white;
    width: 100%;
    margin-left: 13%;
}
.gamenamem{
    color: white;
    width: 100%;
    margin-left: 10%;
}
.gamenamexm{
    color: white;
    width: 100%;
    margin-left: 7%;
}
.gamenamel{
    color: white;
    width: 100%;
    margin-left: 5%;
}
.gamenamexl{
    color: white;
    width: 100%;
    margin-left: 1%;
}


.downloadbtn{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 10px;
}
.downloadbtn:hover{
    box-shadow: 0px 0px 5px 5px #1a73e8;
}
.instantplaybtn{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 10px;
}
.instantplaybtn:hover{
    box-shadow: 0px 0px 5px 5px #4d19e9;
}
.mosebuybtn{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 10px;
}
.mosebuybtn:hover{
    box-shadow: 0px 0px 5px 5px #ff3a3a;
}
.bookbuybtn{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 10px;
}
.bookbuybtn:hover{
    box-shadow: 0px 0px 5px 5px #00ba69;
}

.downloadbtnX{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.downloadbtnX:hover{
    box-shadow: 0px 0px 5px 5px #1a73e8;
}
.mosebuybtnX{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.mosebuybtnX:hover{
    box-shadow: 0px 0px 5px 5px #ff3a3a;
}
.bookbuybtnx{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.bookbuybtnx:hover{
    box-shadow: 0px 0px 5px 5px #00ba69;
}
.bookbuybtnX{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 10px;
}
.bookbuybtnX:hover{
    box-shadow: 0px 0px 5px 5px #00ba69;
}
.bookbuybtnXX{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 10px;
}
.bookbuybtnXX:hover{
    box-shadow: 0px 0px 5px 5px #00ba69;
}
.bookbuybtnXXX{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 10px;
}
.bookbuybtnXXX:hover{
    box-shadow: 0px 0px 5px 5px #00ba69;
}
.bookbuybtnXXXX{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 34px;
    margin-bottom: 10px;
}
.bookbuybtnXXXX:hover{
    box-shadow: 0px 0px 5px 5px #00ba69;
}
.bookbuybtnXXXXX{
    color: white;
    background-color: #575757;
    border-radius: 8pt;
    border: none;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 10px;
}
.bookbuybtnXXXXX:hover{
    box-shadow: 0px 0px 5px 5px #00ba69;
}


.weiten{
    width: 100%;
}

.gamecard{
    width: 100px;
    height: 130px;
    margin-top: 20px;
    border-radius: 8pt;
    box-shadow: 0px 0px 5px 5px #303030;
}
.gamecard:hover{
    box-shadow: 0px 0px 5px 5px #555555;
}
.mosecard{
    width: 100px;
    height: 171px;
    margin-top: 20px;
    border-radius: 8pt;
    box-shadow: 0px 0px 5px 5px #303030;
}
.mosecard:hover{
    box-shadow: 0px 0px 5px 5px #555555;
}
.bookcard{
    width: 100px;
    height: 177px;
    margin-top: 20px;
    margin-bottom: 10%;
    border-radius: 8pt;
    box-shadow: 0px 0px 5px 5px #303030;
}
.bookcard:hover{
    box-shadow: 0px 0px 5px 5px #555555;
}

.pricebtn{
    margin-top: 5px;
    margin-bottom: 3px;
    font-family: 'DZCloudSans';
}
.pricebtnX{
    margin-bottom: 3px;
    font-family: 'DZCloudSans';
}

.searchbar{
    border-radius: 8pt;
    float: right;
    margin-right: 20px;
    border-color: #000000;
    color: white;
    font-family: 'DZCloudSans';
    font-size: x-large;
    width: 450px;
    height: 40px;
    margin-top: 10px;
    background-color: #4c4c4c78;
}
.searchbar:hover{
    box-shadow: 0px 0px 5px 5px #575757;
}

.settico{
    width: 32px;
    margin-top: 13px;
    margin-right: 15px;
    border-radius: 16pt;
}

.settico:hover{
    box-shadow: 0px 0px 5px 5px #373737;
}

.kategoriebox{
    width: 20%;
    height: 20%;
    box-shadow: 0px 0px 5px 5px #303030;
    border-radius: 8pt;
    margin-bottom: 40px;

}
.kategoriebox:hover{
    box-shadow: 0px 0px 5px 5px #575757;

}

.kategorieboxinner{
    margin-left: 30%;
}

.kategorieboxinnerimg{
    margin-top: 5%;
    width: 100px;
    margin-left: 35%;
}

.transperent{
    color: transparent;
    background-color: transparent;
}

.androidbox{
    background-size: 100%;
}
.androidbox:hover{
    background-image: url(/app_store/img/Androidback.webp);
    background-size: 100%;
    image-rendering: pixelated;
}

.winbox{
    background-size: 100%;
}
.winbox:hover{
    background-image: url(/app_store/img/Microsoftback.webp);
    background-size: 100%;
    image-rendering: pixelated;
}

.applebox{
    background-size: 100%;
}
.applebox:hover{
    background-image: url(/app_store/img/appleback.webp);
    background-size: 100%;
    image-rendering: pixelated;
}

.dzcbox{
    background-size: 100%;
}
.dzcbox:hover{
    background-image: url(/app_store/img/00226b96-968a-4360-b595-30ff04cf3967.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.dzctxt{
    color: white;
}
.dzctxt:hover{
    color: black;
}

.locked{    
    color: #000000;
}
.locked:hover{
    box-shadow: 0px 0px 5px 5px red;
}

.dialog-box{
    background-color: #303030;
    color: white;
    border-color: #373737;
}

.round1{
    border-radius: 8pt;
}
.round2{
    border-radius: 16pt;
}
.round3{
    border-radius: 32pt;
}
.round4{
    border-radius: 64pt;
}

.center{
    text-align: center;
}

.gamertag{
    color: #999999;
}

.serverreg{
    background-color: #555555;
    color: white;
    font-size: large;
    font-family: 'DZCloudSans';
}

.imgcenter{
    margin-left: 22%;
    margin-right: auto;
}

.friendcard{
    background-color: #303030;
}


.col-6{
    width: 100%;
    float: left;
}

.friendname{
    float: left;
}

.margin17{
    margin-left: 17%;
}

.morefriends{
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 4pt;
    font-family: 'DZCloudSans';
    font-size: large;
    width: 100%;
}